<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e87285">  <td>21/04/27 16:02:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.login()[pri:0, instance:cubii.LoginTest@32c52b]">login</td> 
  <td>main@17514671</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>21/04/27 16:02:14</td>   <td>-11844</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:cubii.LoginTest@32c52b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17514671</td>   <td></td> </tr>
</table>
